<!-- Tags Widget -->
<div class="card my-4">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
        <div class="row">
            {% set middle = (tags|length / 2 )|round(0, 'ceil') %}
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for tag in tags|slice(0, middle) %}
                        <li>
                            <a href="{{ path('tag.show', {slug: tag.slug}) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for tag in tags|slice(middle) %}
                        <li>
                            <a href="{{ path('tag.show', {slug: tag.slug}) }}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>