{% extends 'base.html.twig' %}

{% block title %}Create a blog post{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Post Create Column -->
    <div class="col-lg-8">
        <h1 class="mt-4">Create a new blog post</h1>
        {% include('template_parts/article/_form.html.twig') with form %}
    </div>
    {% include('template_parts/sidebar/_sidebar.html.twig') %}
{% endblock %}
