{% extends 'base.html.twig' %}

{% block title %}Edit your blog post{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme form _self %}

{% block _article_picture_widget %}
    <div class="mb-2">
        {% if form.vars.data %}
            <img class="media-object" style="max-width: 100%;" src="{{ asset(web_dir ~ '/' ~ form.vars.data.filename) }}">
        {% endif %}
    </div>

    {{ form_widget(form) }}
{% endblock %}

{% block body %}
    <!-- Post Edit Column -->
    <div class="col-lg-8">
        <h1 class="mt-4">Edit your blog post</h1>
        {% include('template_parts/article/_form.html.twig') with form %}
    </div>
    {{ include('template_parts/sidebar/_sidebar.html.twig') }}
{% endblock %}
